*~
*#
*.cunroll
*.o
*.a
*.d
*.test
*.exe
*.dis
.nfs*
*.btr
*.gch
._*
.DS_Store
*/.gitignore
*.db
*.swp
*.swo
.mpirunrc.*
*.pyc
*.out
*.ckpt
*.nedge
*.log*
*.INFO
*.ERROR
*.FATAL
*.WARNING
.fuse_hidden*
.srunrc*
*.d.tmp

