*~
*#
*.cunroll
*.o
*.a
*.d
*.test
*.exe
*.dis
.nfs*
*.btr
*.gch
._*
.DS_Store
*/.gitignore
*.db
*.swp
*.swo
.mpirunrc.*
*.pyc
*.out
*.ckpt
ckpts
*.nedge
*.log*
*.INFO
*.ERROR
*.FATAL
*.WARNING
.fuse_hidden*
.srunrc*
*.d.tmp

# Tau/profiling
tau*.trc
*.edf
profile.*.*.*
app*.def
app.otf
app.vsettings
app*.events
fn_mappings
reader.out
*.filt
*.uctl
*.slog2

core.*
*.prof
