#-----------------------------------------------------------------------------
#
# Author: Michael Runyan (mrunyan@conveycomputer.com)
#
#-----------------------------------------------------------------------------
#
# Copyright (c) 2008 : Created by Convey Computer Corp. This file is the
# confidential and proprietary property of Convey Computer Corp.
#
#-----------------------------------------------------------------------------
########################################################################
# Simulation Environment Configuration
########################################################################
set DeadMan 100000

########################################################################
# CaeSim Setup Arguments: debug checker_dis
########################################################################
caesim 2 0

########################################################################
# Mc to Cae Response Delay
########################################################################
config Cae0Mc0Monitor min_delay 70
config Cae0Mc0Monitor max_delay 1000
config Cae0Mc1Monitor min_delay 70
config Cae0Mc1Monitor max_delay 1000
config Cae0Mc2Monitor min_delay 70
config Cae0Mc2Monitor max_delay 1000
config Cae0Mc3Monitor min_delay 70
config Cae0Mc3Monitor max_delay 1000
config Cae0Mc4Monitor min_delay 70
config Cae0Mc4Monitor max_delay 1000
config Cae0Mc5Monitor min_delay 70
config Cae0Mc5Monitor max_delay 1000
config Cae0Mc6Monitor min_delay 70
config Cae0Mc6Monitor max_delay 1000
config Cae0Mc7Monitor min_delay 70
config Cae0Mc7Monitor max_delay 1000
config Cae1Mc0Monitor min_delay 70
config Cae1Mc0Monitor max_delay 1000
config Cae1Mc1Monitor min_delay 70
config Cae1Mc1Monitor max_delay 1000
config Cae1Mc2Monitor min_delay 70
config Cae1Mc2Monitor max_delay 1000
config Cae1Mc3Monitor min_delay 70
config Cae1Mc3Monitor max_delay 1000
config Cae1Mc4Monitor min_delay 70
config Cae1Mc4Monitor max_delay 1000
config Cae1Mc5Monitor min_delay 70
config Cae1Mc5Monitor max_delay 1000
config Cae1Mc6Monitor min_delay 70
config Cae1Mc6Monitor max_delay 1000
config Cae1Mc7Monitor min_delay 70
config Cae1Mc7Monitor max_delay 1000
config Cae2Mc0Monitor min_delay 70
config Cae2Mc0Monitor max_delay 1000
config Cae2Mc1Monitor min_delay 70
config Cae2Mc1Monitor max_delay 1000
config Cae2Mc2Monitor min_delay 70
config Cae2Mc2Monitor max_delay 1000
config Cae2Mc3Monitor min_delay 70
config Cae2Mc3Monitor max_delay 1000
config Cae2Mc4Monitor min_delay 70
config Cae2Mc4Monitor max_delay 1000
config Cae2Mc5Monitor min_delay 70
config Cae2Mc5Monitor max_delay 1000
config Cae2Mc6Monitor min_delay 70
config Cae2Mc6Monitor max_delay 1000
config Cae2Mc7Monitor min_delay 70
config Cae2Mc7Monitor max_delay 1000
config Cae3Mc0Monitor min_delay 70
config Cae3Mc0Monitor max_delay 1000
config Cae3Mc1Monitor min_delay 70
config Cae3Mc1Monitor max_delay 1000
config Cae3Mc2Monitor min_delay 70
config Cae3Mc2Monitor max_delay 1000
config Cae3Mc3Monitor min_delay 70
config Cae3Mc3Monitor max_delay 1000
config Cae3Mc4Monitor min_delay 70
config Cae3Mc4Monitor max_delay 1000
config Cae3Mc5Monitor min_delay 70
config Cae3Mc5Monitor max_delay 1000
config Cae3Mc6Monitor min_delay 70
config Cae3Mc6Monitor max_delay 1000
config Cae3Mc7Monitor min_delay 70
config Cae3Mc7Monitor max_delay 1000
