# configuration file for xregion
#
# select colors for the following:
#   foreground - foreground color of windows 
#   background - background color of windows 
#   selection  - color of area selected for viewing
#   rubberband - color of selection rubberband
#   grid       - color of grid lines
#   canvas     - background color of display area
#
# colors are X11 named colors (see an X reference for list)
#
# Only colors you wish to change need to be in the 
# configuration file.  Others will be set to default colors.
#
foreground navy
background light gray
selection Green
rubberband Green
grid red
canvas black
