AREA_GROUP "AG_xbarhi" RANGE = SLICE_X74Y130:SLICE_X133Y149 ;
INST "ae_top/core/cae_pers/rsp_xbo/arb0" AREA_GROUP = "AG_xbarhi" ;
INST "ae_top/core/cae_pers/rsp_xbe/arb0" AREA_GROUP = "AG_xbarhi" ;
INST "ae_top/core/cae_pers/rsp_xbo/arb1" AREA_GROUP = "AG_xbarhi" ;
INST "ae_top/core/cae_pers/rsp_xbe/arb1" AREA_GROUP = "AG_xbarhi" ;
INST "ae_top/core/cae_pers/rsp_xbo/arb2" AREA_GROUP = "AG_xbarhi" ;
INST "ae_top/core/cae_pers/rsp_xbe/arb2" AREA_GROUP = "AG_xbarhi" ;
INST "ae_top/core/cae_pers/rsp_xbo/arb3" AREA_GROUP = "AG_xbarhi" ;
INST "ae_top/core/cae_pers/rsp_xbe/arb3" AREA_GROUP = "AG_xbarhi" ;
INST "ae_top/core/cae_pers/rsp_xbo/mux0" AREA_GROUP = "AG_xbarhi" ;
INST "ae_top/core/cae_pers/rsp_xbe/mux0" AREA_GROUP = "AG_xbarhi" ;
INST "ae_top/core/cae_pers/rsp_xbo/mux1" AREA_GROUP = "AG_xbarhi" ;
INST "ae_top/core/cae_pers/rsp_xbe/mux1" AREA_GROUP = "AG_xbarhi" ;
INST "ae_top/core/cae_pers/rsp_xbo/mux2" AREA_GROUP = "AG_xbarhi" ;
INST "ae_top/core/cae_pers/rsp_xbe/mux2" AREA_GROUP = "AG_xbarhi" ;
INST "ae_top/core/cae_pers/rsp_xbo/mux3" AREA_GROUP = "AG_xbarhi" ;
INST "ae_top/core/cae_pers/rsp_xbe/mux3" AREA_GROUP = "AG_xbarhi" ;

INST "ae_top/core/cae_pers/req_xbo/arb0" AREA_GROUP = "AG_xbarhi" ;
INST "ae_top/core/cae_pers/req_xbe/arb0" AREA_GROUP = "AG_xbarhi" ;
INST "ae_top/core/cae_pers/req_xbo/arb1" AREA_GROUP = "AG_xbarhi" ;
INST "ae_top/core/cae_pers/req_xbe/arb1" AREA_GROUP = "AG_xbarhi" ;
INST "ae_top/core/cae_pers/req_xbo/arb4" AREA_GROUP = "AG_xbarhi" ;
INST "ae_top/core/cae_pers/req_xbe/arb4" AREA_GROUP = "AG_xbarhi" ;
INST "ae_top/core/cae_pers/req_xbo/arb5" AREA_GROUP = "AG_xbarhi" ;
INST "ae_top/core/cae_pers/req_xbe/arb5" AREA_GROUP = "AG_xbarhi" ;

AREA_GROUP "AG_xbarlo" RANGE = SLICE_X74Y90:SLICE_X133Y109 ;
INST "ae_top/core/cae_pers/rsp_xbo/arb4" AREA_GROUP = "AG_xbarlo" ;
INST "ae_top/core/cae_pers/rsp_xbe/arb4" AREA_GROUP = "AG_xbarlo" ;
INST "ae_top/core/cae_pers/rsp_xbo/arb5" AREA_GROUP = "AG_xbarlo" ;
INST "ae_top/core/cae_pers/rsp_xbe/arb5" AREA_GROUP = "AG_xbarlo" ;
INST "ae_top/core/cae_pers/rsp_xbo/arb6" AREA_GROUP = "AG_xbarlo" ;
INST "ae_top/core/cae_pers/rsp_xbe/arb6" AREA_GROUP = "AG_xbarlo" ;
INST "ae_top/core/cae_pers/rsp_xbo/arb7" AREA_GROUP = "AG_xbarlo" ;
INST "ae_top/core/cae_pers/rsp_xbe/arb7" AREA_GROUP = "AG_xbarlo" ;
INST "ae_top/core/cae_pers/rsp_xbo/mux4" AREA_GROUP = "AG_xbarlo" ;
INST "ae_top/core/cae_pers/rsp_xbe/mux4" AREA_GROUP = "AG_xbarlo" ;
INST "ae_top/core/cae_pers/rsp_xbo/mux5" AREA_GROUP = "AG_xbarlo" ;
INST "ae_top/core/cae_pers/rsp_xbe/mux5" AREA_GROUP = "AG_xbarlo" ;
INST "ae_top/core/cae_pers/rsp_xbo/mux6" AREA_GROUP = "AG_xbarlo" ;
INST "ae_top/core/cae_pers/rsp_xbe/mux6" AREA_GROUP = "AG_xbarlo" ;
INST "ae_top/core/cae_pers/rsp_xbo/mux7" AREA_GROUP = "AG_xbarlo" ;
INST "ae_top/core/cae_pers/rsp_xbe/mux7" AREA_GROUP = "AG_xbarlo" ;

INST "ae_top/core/cae_pers/req_xbo/arb2" AREA_GROUP = "AG_xbarlo" ;
INST "ae_top/core/cae_pers/req_xbe/arb2" AREA_GROUP = "AG_xbarlo" ;
INST "ae_top/core/cae_pers/req_xbo/arb3" AREA_GROUP = "AG_xbarlo" ;
INST "ae_top/core/cae_pers/req_xbe/arb3" AREA_GROUP = "AG_xbarlo" ;
INST "ae_top/core/cae_pers/req_xbo/arb6" AREA_GROUP = "AG_xbarlo" ;
INST "ae_top/core/cae_pers/req_xbe/arb6" AREA_GROUP = "AG_xbarlo" ;
INST "ae_top/core/cae_pers/req_xbo/arb7" AREA_GROUP = "AG_xbarlo" ;
INST "ae_top/core/cae_pers/req_xbe/arb7" AREA_GROUP = "AG_xbarlo" ;

AREA_GROUP "AG_mc0_xbar" RANGE = SLICE_X104Y170:SLICE_X133Y189 ;
#INST "ae_top/core/cae_pers/req_xbo/arb0" AREA_GROUP = "AG_mc0_xbar" ;
INST "ae_top/core/cae_pers/req_xbo/mux0" AREA_GROUP = "AG_mc0_xbar" ;
INST "ae_top/core/cae_pers/req_xbo/reg_vadr0/*" AREA_GROUP = "AG_mc0_xbar" ;
INST "ae_top/core/cae_pers/req_xbo/reg_wdrc0/*" AREA_GROUP = "AG_mc0_xbar" ;
INST "ae_top/core/cae_pers/rsp_xbo/fifo0" AREA_GROUP = "AG_mc0_xbar" ;
#INST "ae_top/core/cae_pers/req_xbe/arb0" AREA_GROUP = "AG_mc0_xbar" ;
INST "ae_top/core/cae_pers/req_xbe/mux0" AREA_GROUP = "AG_mc0_xbar" ;
INST "ae_top/core/cae_pers/req_xbe/reg_vadr0/*" AREA_GROUP = "AG_mc0_xbar" ;
INST "ae_top/core/cae_pers/req_xbe/reg_wdrc0/*" AREA_GROUP = "AG_mc0_xbar" ;
INST "ae_top/core/cae_pers/rsp_xbe/fifo0" AREA_GROUP = "AG_mc0_xbar" ;

AREA_GROUP "AG_mc1_xbar" RANGE = SLICE_X104Y150:SLICE_X133Y169 ;
#INST "ae_top/core/cae_pers/req_xbo/arb1" AREA_GROUP = "AG_mc1_xbar" ;
INST "ae_top/core/cae_pers/req_xbo/mux1" AREA_GROUP = "AG_mc1_xbar" ;
INST "ae_top/core/cae_pers/req_xbo/reg_vadr1/*" AREA_GROUP = "AG_mc1_xbar" ;
INST "ae_top/core/cae_pers/req_xbo/reg_wdrc1/*" AREA_GROUP = "AG_mc1_xbar" ;
INST "ae_top/core/cae_pers/rsp_xbo/fifo1" AREA_GROUP = "AG_mc1_xbar" ;
#INST "ae_top/core/cae_pers/req_xbe/arb1" AREA_GROUP = "AG_mc1_xbar" ;
INST "ae_top/core/cae_pers/req_xbe/mux1" AREA_GROUP = "AG_mc1_xbar" ;
INST "ae_top/core/cae_pers/req_xbe/reg_vadr1/*" AREA_GROUP = "AG_mc1_xbar" ;
INST "ae_top/core/cae_pers/req_xbe/reg_wdrc1/*" AREA_GROUP = "AG_mc1_xbar" ;
INST "ae_top/core/cae_pers/rsp_xbe/fifo1" AREA_GROUP = "AG_mc1_xbar" ;

AREA_GROUP "AG_mc2_xbar" RANGE = SLICE_X104Y70:SLICE_X133Y89 ;
#INST "ae_top/core/cae_pers/req_xbo/arb2" AREA_GROUP = "AG_mc2_xbar" ;
INST "ae_top/core/cae_pers/req_xbo/mux2" AREA_GROUP = "AG_mc2_xbar" ;
INST "ae_top/core/cae_pers/req_xbo/reg_vadr2/*" AREA_GROUP = "AG_mc2_xbar" ;
INST "ae_top/core/cae_pers/req_xbo/reg_wdrc2/*" AREA_GROUP = "AG_mc2_xbar" ;
INST "ae_top/core/cae_pers/rsp_xbo/fifo2" AREA_GROUP = "AG_mc2_xbar" ;
#INST "ae_top/core/cae_pers/req_xbe/arb2" AREA_GROUP = "AG_mc2_xbar" ;
INST "ae_top/core/cae_pers/req_xbe/mux2" AREA_GROUP = "AG_mc2_xbar" ;
INST "ae_top/core/cae_pers/req_xbe/reg_vadr2/*" AREA_GROUP = "AG_mc2_xbar" ;
INST "ae_top/core/cae_pers/req_xbe/reg_wdrc2/*" AREA_GROUP = "AG_mc2_xbar" ;
INST "ae_top/core/cae_pers/rsp_xbe/fifo2" AREA_GROUP = "AG_mc2_xbar" ;

AREA_GROUP "AG_mc3_xbar" RANGE = SLICE_X104Y50:SLICE_X133Y69 ;
#INST "ae_top/core/cae_pers/req_xbo/arb3" AREA_GROUP = "AG_mc3_xbar" ;
INST "ae_top/core/cae_pers/req_xbo/mux3" AREA_GROUP = "AG_mc3_xbar" ;
INST "ae_top/core/cae_pers/req_xbo/reg_vadr3/*" AREA_GROUP = "AG_mc3_xbar" ;
INST "ae_top/core/cae_pers/req_xbo/reg_wdrc3/*" AREA_GROUP = "AG_mc3_xbar" ;
INST "ae_top/core/cae_pers/rsp_xbo/fifo3" AREA_GROUP = "AG_mc3_xbar" ;
#INST "ae_top/core/cae_pers/req_xbe/arb3" AREA_GROUP = "AG_mc3_xbar" ;
INST "ae_top/core/cae_pers/req_xbe/mux3" AREA_GROUP = "AG_mc3_xbar" ;
INST "ae_top/core/cae_pers/req_xbe/reg_vadr3/*" AREA_GROUP = "AG_mc3_xbar" ;
INST "ae_top/core/cae_pers/req_xbe/reg_wdrc3/*" AREA_GROUP = "AG_mc3_xbar" ;
INST "ae_top/core/cae_pers/rsp_xbe/fifo3" AREA_GROUP = "AG_mc3_xbar" ;

AREA_GROUP "AG_mc4_xbar" RANGE = SLICE_X74Y170:SLICE_X103Y189 ;
#INST "ae_top/core/cae_pers/req_xbo/arb4" AREA_GROUP = "AG_mc4_xbar" ;
INST "ae_top/core/cae_pers/req_xbo/mux4" AREA_GROUP = "AG_mc4_xbar" ;
INST "ae_top/core/cae_pers/req_xbo/reg_vadr4/*" AREA_GROUP = "AG_mc4_xbar" ;
INST "ae_top/core/cae_pers/req_xbo/reg_wdrc4/*" AREA_GROUP = "AG_mc4_xbar" ;
INST "ae_top/core/cae_pers/rsp_xbo/fifo4" AREA_GROUP = "AG_mc4_xbar" ;
#INST "ae_top/core/cae_pers/req_xbe/arb4" AREA_GROUP = "AG_mc4_xbar" ;
INST "ae_top/core/cae_pers/req_xbe/mux4" AREA_GROUP = "AG_mc4_xbar" ;
INST "ae_top/core/cae_pers/req_xbe/reg_vadr4/*" AREA_GROUP = "AG_mc4_xbar" ;
INST "ae_top/core/cae_pers/req_xbe/reg_wdrc4/*" AREA_GROUP = "AG_mc4_xbar" ;
INST "ae_top/core/cae_pers/rsp_xbe/fifo4" AREA_GROUP = "AG_mc4_xbar" ;

AREA_GROUP "AG_mc5_xbar" RANGE = SLICE_X74Y150:SLICE_X103Y169 ;
#INST "ae_top/core/cae_pers/req_xbo/arb5" AREA_GROUP = "AG_mc5_xbar" ;
INST "ae_top/core/cae_pers/req_xbo/mux5" AREA_GROUP = "AG_mc5_xbar" ;
INST "ae_top/core/cae_pers/req_xbo/reg_vadr5/*" AREA_GROUP = "AG_mc5_xbar" ;
INST "ae_top/core/cae_pers/req_xbo/reg_wdrc5/*" AREA_GROUP = "AG_mc5_xbar" ;
INST "ae_top/core/cae_pers/rsp_xbo/fifo5" AREA_GROUP = "AG_mc5_xbar" ;
#INST "ae_top/core/cae_pers/req_xbe/arb5" AREA_GROUP = "AG_mc5_xbar" ;
INST "ae_top/core/cae_pers/req_xbe/mux5" AREA_GROUP = "AG_mc5_xbar" ;
INST "ae_top/core/cae_pers/req_xbe/reg_vadr5/*" AREA_GROUP = "AG_mc5_xbar" ;
INST "ae_top/core/cae_pers/req_xbe/reg_wdrc5/*" AREA_GROUP = "AG_mc5_xbar" ;
INST "ae_top/core/cae_pers/rsp_xbe/fifo5" AREA_GROUP = "AG_mc5_xbar" ;

AREA_GROUP "AG_mc6_xbar" RANGE = SLICE_X74Y70:SLICE_X103Y89 ;
#INST "ae_top/core/cae_pers/req_xbo/arb6" AREA_GROUP = "AG_mc6_xbar" ;
INST "ae_top/core/cae_pers/req_xbo/mux6" AREA_GROUP = "AG_mc6_xbar" ;
INST "ae_top/core/cae_pers/req_xbo/reg_vadr6/*" AREA_GROUP = "AG_mc6_xbar" ;
INST "ae_top/core/cae_pers/req_xbo/reg_wdrc6/*" AREA_GROUP = "AG_mc6_xbar" ;
INST "ae_top/core/cae_pers/rsp_xbo/fifo6" AREA_GROUP = "AG_mc6_xbar" ;
#INST "ae_top/core/cae_pers/req_xbe/arb6" AREA_GROUP = "AG_mc6_xbar" ;
INST "ae_top/core/cae_pers/req_xbe/mux6" AREA_GROUP = "AG_mc6_xbar" ;
INST "ae_top/core/cae_pers/req_xbe/reg_vadr6/*" AREA_GROUP = "AG_mc6_xbar" ;
INST "ae_top/core/cae_pers/req_xbe/reg_wdrc6/*" AREA_GROUP = "AG_mc6_xbar" ;
INST "ae_top/core/cae_pers/rsp_xbe/fifo6" AREA_GROUP = "AG_mc6_xbar" ;

AREA_GROUP "AG_mc7_xbar" RANGE = SLICE_X74Y50:SLICE_X103Y69 ;
#INST "ae_top/core/cae_pers/req_xbo/arb7" AREA_GROUP = "AG_mc7_xbar" ;
INST "ae_top/core/cae_pers/req_xbo/mux7" AREA_GROUP = "AG_mc7_xbar" ;
INST "ae_top/core/cae_pers/req_xbo/reg_vadr7/*" AREA_GROUP = "AG_mc7_xbar" ;
INST "ae_top/core/cae_pers/req_xbo/reg_wdrc7/*" AREA_GROUP = "AG_mc7_xbar" ;
INST "ae_top/core/cae_pers/rsp_xbo/fifo7" AREA_GROUP = "AG_mc7_xbar" ;
#INST "ae_top/core/cae_pers/req_xbe/arb7" AREA_GROUP = "AG_mc7_xbar" ;
INST "ae_top/core/cae_pers/req_xbe/mux7" AREA_GROUP = "AG_mc7_xbar" ;
INST "ae_top/core/cae_pers/req_xbe/reg_vadr7/*" AREA_GROUP = "AG_mc7_xbar" ;
INST "ae_top/core/cae_pers/req_xbe/reg_wdrc7/*" AREA_GROUP = "AG_mc7_xbar" ;
INST "ae_top/core/cae_pers/rsp_xbe/fifo7" AREA_GROUP = "AG_mc7_xbar" ;
